replicaCount: 1

image:
  repository: petclinic
  tag: v1
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 8080

resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 1000m
    memory: 1Gi

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: petclinic.localhost
      paths:
        - path: /
          pathType: ImplementationSpecific

  tls: []
