apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-petclinic
  labels:
    app: petclinic

spec:
    replicas: {{ .Values.replicaCount }}
    selector:
        matchLabels:
            app: petclinic
    template:
        metadata:
            labels:
                app: petclinic
                version: {{ .Values.version }}
        spec:
            containers:
                - name: petclinic
                  image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
                  imagePullPolicy: {{ .Values.image.pullPolicy }}
                  ports:
                    - name: http
                      containerPort: {{ .Values.service.targetPort }}
                      protocol: TCP
                  resources:
                    limits:
                        cpu: {{ .Values.resources.limits.cpu }}
                        memory: {{ .Values.resources.limits.memory }}
                    requests:
                        cpu: {{ .Values.resources.requests.cpu }}
                        memory: {{ .Values.resources.requests.memory }}

        