apiVersion: v1
kind: Service
metadata:
    name: {{ .Release.Name }}-petclinic
    labels:
        app: petclinic
spec:
    type: {{ .Values.service.type }}
    ports:
        - protocol: TCP
          port: {{ .Values.service.port }}
          targetPort: {{ .Values.service.targetPort }}
    selector:
        app: petclinic
